<h2>{{ posts.length }} Posts</h2>

<p>This is a collection of links, snippets and instructions that I wish I'd had when I started programming. Most of it is related to mobile or front-end development.</p>

<p>If you see a problem, please <a href='https://github.com/jordanroskelley/jordanroskelley.github.io/issues'>report it here</a></p>

<hr>

<ul class='list-inline'>
	<p class='h3'>Topics</p><input type='text' ng-model='tagFilter'/>
</ul>
<ul class='list-inline'>
	<li ng-repeat="tag in tags | orderBy: tag" ng-click="updateSearch(tag)"><a href=''>#{{ tag }}</a></li>
</ul>

<hr>

<row>
	<div class='col-md-4' ng-repeat="post in posts | filter: { tags: tagFilter } | orderBy:'-created'">
		<a href='/#/{{ post.file }}'><h4 style="margin:0px">{{ post.title }}</h4></a>
		<small>{{ post.created | ago }} from {{ post.author }}</small>
		<br>
		<span ng-repeat="tag in post.tags"><a ng-click="updateSearch(tag)" href=''>#{{ tag }}</a>&nbsp;&nbsp;&nbsp;</span>
		<br>
		<br>
	</div>
</row>
<!--
<ul>
	<li ng-repeat="post in posts | filter: { tags: tagFilter } | orderBy:'-created'" style='list-style-type: none;'>
		<a href='/#/{{ post.file }}'><h3 style="margin:0px">{{ post.title }}</h3></a>
		<small>{{ post.created | ago }} from {{ post.author }}</small>
		<br>
		<a ng-repeat="tag in post.tags" ng-click="updateSearch(tag)" href=''>#{{ tag }}&nbsp;&nbsp;&nbsp;</a>
		<br>
		<br>
	</li>
</ul>
-->
<br>
<br>

<h5>I hope this knowledge is helpful :)</h5>
<img class='img-responsive' src='assets/2014-08-07/dangerous.png' />